**Use the K-Nearest Neighbors (K-NN), Logistic Regression, and Decision Tree models to predict the survival of passengers on the Titanic.**
----------

**preparatory work**

引入所有插件，调用所有的包

In [18]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sympy.stats import Logistic

In [19]:
data = pd.read_csv('titanic.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

**取到对应的X和Y数据列**
____
因为此数据矩阵中有些列具有数据缺失或无关数据，所以x值取到相应的列为：**'Pclass','SibSp',
       'Parch',  'Fare'**

In [20]:
data = pd.read_csv('titanic.csv')
print(data.columns)
# 根据输出的实际列名调整后续代码中列名的拼写
Y = data['Survived']
X= data.values[:, [2,6,7,9]]
enconder = LabelEncoder()
Y= enconder.fit_transform(Y)
train_X, test_X, train_y, test_y = train_test_split(X, Y, test_size=0.2, random_state=100)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

**Complete version code:**
---

In [21]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sympy.stats import Logistic
enconder = LabelEncoder()
data = pd.read_csv('titanic.csv')
Y = data['Survived']
X= data.values[:, [2,6,7,9]]
enconder = LabelEncoder()
Y= enconder.fit_transform(Y)
train_X, test_X, train_y, test_y = train_test_split(X, Y, test_size=0.2, random_state=100)

**用K_NN模型进行预测**

In [22]:
KNmodle = KNeighborsRegressor(
n_neighbors=10,
metric='minkowski',
metric_params=None,
n_jobs=None,
p=1,weights='uniform')

KNmodle.fit(train_X, train_y)
pre_KN = KNmodle.predict(test_X)
acc_KN = KNmodle.score(test_X, test_y)
print('The acc of KNeighborsClassifier is {0}',format(acc_KN))

The acc of KNeighborsClassifier is {0} -0.06137820512820502

**用逻辑回归模型进行预测**

In [23]:
LRmodle = LogisticRegression()

LRmodle.fit(train_X, train_y)
pre_LR = LRmodle.predict(test_X)
acc_LR = LRmodle.score(test_X, test_y)
print('The acc of LogisticRegression is {0}',format(acc_LR))

The acc of LogisticRegression is {0} 0.6759776536312849

**用决策树模型进行预测**

In [24]:
DTmodle = DecisionTreeRegressor()
DTmodle.fit(train_X, train_y)
pre_DT = DTmodle.predict(test_X)
acc_DT = DTmodle.score(test_X, test_y)
print('The acc of DecisionTreeRegressor is {0}',format(acc_DT))

The acc of DecisionTreeRegressor is {0} -0.17704273031711137